*{
  margin: 0px;
  padding: 0px;
}
a{
  text-decoration: none;
}
body{
  position: relative;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}
.main{
  display: flex;
  margin-left: 100px;
}
.container{
  position: absolute;
  top: 85px;
  left: 75px;
  width: 260px;
  height: 372px;
  background: #FFFFFF;

  border-radius: 5px;
  box-shadow: 5px 5px 17px rgba(0, 0, 0, 0.25);
  transition: all 0.3s;
}
.container:hover{
  box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.25);
  transition: all 0.3s;
}
.image{
  position: absolute;
  width: 200px;
  height: 200px;
  left: 30px;
  top: 18px;
}
.description-text{
  position: absolute;
  top: 243px;
  left: 11px;
  width: 238px;
  height: 42px;
}
.text{
  font-family: Roboto;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}
.description-price{
  position: absolute;
  top: 296px;
  left: 11px;
  width: 238px;
  height: 20px;
}
.price{
  font-weight: 700;
}
.button{
  position: absolute;
  bottom: 11px;
  width: 238px;
  height: 34px;
  left: 11px;
  background: #DC092E;
  border-radius: 5px;
  box-shadow: 2px 2px 7px 1px rgba(0, 0, 0, 0.34);
  transition: all 0.3s;
}
.button:hover{
  background: rgba(220, 9, 46, 0.85);
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.34);
  transition: all 0.3s;
}
.button:active{
  background: #CE072A;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.34);
}
.button-text{
  display: flex;
  justify-content: center;
  margin-top: 8px;
  color: #FFFFFF;
}